html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 250px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.__action-link {
  cursor: pointer;
}

/*
.navbar-default {
  background: #fff;
  color: #111;
  border: none;
}

.navbar-default .navbar-nav li a {
  padding: 5px 15px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}
.navbar-default .navbar-nav li a:hover {
  color: #111;
  background-color: #ccc;
}
.navbar-default .navbar-nav li.active a {
  background-color: #383636;
  color: #ffffff;
}
.navbar-default .navbar-nav li.active a:hover {
  background-color: #111;
  color: #ffffff;
}

.navbar-default .navbar-brand img {
  margin-top: -2px;
}
*/
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
*/
.main-content {
  padding-bottom: 10px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  /*margin-bottom: -142px; */
}
.page-wrap:after {
  content: "";
  display: block;
}
/*.footer, .page-wrap:after {
  height: 142px; 
}
*/
.filer_image_info {
  display: block;
  margin-bottom: 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #121312;
  height: 250px;

  border-top: 4px solid #1b1b1b;
  padding-top: 10px;
  color: #ffffff;
}

.footer a,
.footer a:visited {
  color: #ffffff;
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: none;
}
.footer__bottom-part {
  background-color: #010101;
  color: #666;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.footer__bottom-part a {
  color: #666;
  text-decoration: none;  
}

/* Zones template */

.banners {
/*  height: 300px;
  background-color: #ccc;
*/  margin-bottom: 10px;
}
/*
.banner_set-wrapper {
  background: #aaa;
  height: 450px;
  position: relative;
  z-index: 0;
  margin: 0;
}

.banner_set-wrapper .slide {
  height: 450px;
  position: relative;
  overflow: hidden;
}

.banner_set-wrapper .slide > img {
  z-index: 1;
  display: block;
  position: absolute;
  min-height: 450px;
    width: 100%;
}

.banner_set-wrapper .slide .slideContent {
  position: relative;
  z-index: 2;
  color: #fff;
  margin: 0 auto;
    max-width: 1004px;
    text-shadow: 1px 1px 0px rgba(43, 33, 33, .2);
}

.banner_set-wrapper .slide.black .slideContent {
  color: #3c3f46;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, .4);
}

.banner_set-wrapper .slide .slideContent figcaption {
  width: 54%;
  float: left;
  margin: 110px 0 0;
}
*/
.banner_set-wrapper .slide .slideContent h3 {
  /*font-family: 'soho_gothic_promedium';*/
  font-weight: normal;
  font-size: 45px;  
  line-height: 44px;
  padding: 0 0 9px;
}

.banner_set-wrapper .slide .slideContent h4 {
  /*font-family: 'soho_gothic_proregular';*/
  font-weight: normal;
  font-size: 35px;  
  line-height: 39px;
  padding: 0 0 20px;
}

.banner_set-wrapper .slide .slideContent p {
  /*font-family: 'soho_gothic_proregular';*/
  font-weight: normal;
  font-size: 16px;  
  line-height: 25px;
  padding: 0 0 30px;
}

.banner_set-wrapper .slide .slideContent figure {
  float: right;
  display:  block;
  margin: 60px 0 0;
  width: 45%;
  text-align: center;
}

.banner_set-wrapper .slide .slideContent figure img {
  display:  inline;
}


/* ============================*/
/*
.solutions {
  background-color: #484646;
  padding: 10px;
  margin: 8px 0;
  color: #ffffff;
  text-align: center;
}
*/
/* Universal styles */

.margin-right-10 {
  margin-right: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

.delete-underline {
  text-decoration: none!important;
}
