{% load i18n staticfiles %}
<div class="row">
{% for c in categories %}
<div class="col-xs-6 col-md-4">
    <div class="thumbnail" style="height:200px;">
      {% if c.icon %}
      <img src="{{ c.icon.url }}" alt="{{ c.name }}">
      {% else %}
      <img src="{% static 'img/placeholder-100x100.png' %}" alt="{{ c.name }}">
      {% endif %}
      <div class="caption">
        <h4 style="text-align:center;">
        <a href="{% url 'company_manage_equipment_category' company.slug c.slug %}">{{ c.name }}</a></h4>
        {% if c.equipment_amount %}
        <p style="text-align:center;"><small>{% trans "Equipment" %}: {{ c.equipment_amount }}</small></p>
        {% endif %}
      </div>
    </div>
</div>
{% endfor %}
</div>
