{% load i18n %}
{% with company.get_roles as roles %}
{% if roles %}
<h4>{% trans "People in this company" %}</h4>
<table class="table table-hover table-bordered">
{% for role in roles %}
<tr>
    <td>{{ role.user }}</td>
    <td>{{ role.get_role_display }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endwith %}