{% load i18n thumbnail %}
{% with cluser.get_company_roles as roles %}
{% if roles %}
<h2>{% trans "Roles in companies" %}</h2>
<table class="table table-bordered table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Logo" %}</th>
    <th>{% trans "Role" %}</th>
</tr>
{% for role in roles %}
<tr>

    <td><a href="{% url 'company_details' role.company.slug %}">{{ role.company }}</a></td>
    <td>{% thumbnail role.company.logo "100x100" format="PNG" as im %}<img src="{{ im.url }}">{% endthumbnail %}</td>
    <td>{{ role.get_role_display }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<br>
<div class="alert alert-info">{% trans "You are not a member of any company." %}</div>
{% endif %}
{% endwith %}