{% load i18n staticfiles %}
{% if user.is_authenticated %}

<table class="table">
<tr>
    <td>{% trans "Company contacts" %}</td>
    <td>
        {% if company.pnone1 %}<span class="glyphicon glyphicon-earphone" aria-hidden="true" title="{% trans 'Phone 1' %}"></span>
        {{ company.pnone1 }}<br>{% endif %}
        {% if company.pnone2 %}<span class="glyphicon glyphicon-earphone" aria-hidden="true" title="{% trans 'Phone 2' %}"></span>
        {{ company.pnone2 }}<br>{% endif %}
        {% if company.fax %}<span class="glyphicon glyphicon-phone-alt" aria-hidden="true" title="{% trans 'Fax' %}"></span>
        {{ company.fax }}<br>{% endif %}
        {% if company.email %}<span class="glyphicon glyphicon-envelope" aria-hidden="true" title="{% trans 'Email' %}"></span>
        <a href="mailto:{{ company.email }}">{{ company.email }}</a><br>{% endif %}
        {% if company.web_site %}<span class="glyphicon glyphicon-link" aria-hidden="true" title="{% trans 'Web site' %}"></span>
        <a href="{{ company.web_site }}" rel="nofollow">{{ company.web_site }}</a>{% endif %}
    </td>
</tr>
<tr>
    <td width="40%">{% trans "Visit address" %}:</td>
    <td>{{ company.get_visit_address_string }}</td>
</tr>
<tr>
    <td>{% trans "Invoice address" %}:</td>
    <td>{{ company.get_invoice_address_string }}</td>
</tr>
{% if company.cp1_name or company.cp2_name %}
<tr>
    <td colspan="2">{% trans "Contact persons" %}</td>
</tr>
{% if company.cp1_name %}
<tr>
    <td>{{ company.cp1_name }}{% if company.cp1_position %}, {{ company.cp1_position }}{% endif %}</td>
    <td>
        {% if company.cp1_phone %}<span class="glyphicon glyphicon-earphone" aria-hidden="true" title="{% trans 'Phone' %}"></span>
        {{ company.cp1_phone }}<br>{% endif %}
        {% if company.cp1_email %}<span class="glyphicon glyphicon-envelope" aria-hidden="true" title="{% trans 'Email' %}"></span>
        {{ company.cp1_email }}<br>{% endif %}
        {% if company.cp1_skype %}<i class="fa fa-skype" aria-hidden="true" title="{% trans 'Skype' %}"></i>
        {{ company.cp1_skype }}{% endif %}
    </td>
</tr>
{% endif %}
{% if company.cp2_name %}
<tr>
    <td>{{ company.cp2_name }}{% if company.cp1_position %}, {{ company.cp2_position }}{% endif %}</td>
    <td>
        {% if company.cp2_phone %}<span class="glyphicon glyphicon-earphone" aria-hidden="true" title="{% trans 'Phone' %}"></span>
        {{ company.cp2_phone }}<br>{% endif %}
        {% if company.cp2_email %}<span class="glyphicon glyphicon-envelope" aria-hidden="true" title="{% trans 'Email' %}"></span>
        {{ company.cp2_email }}<br>{% endif %}
        {% if company.cp2_skype %}<i class="fa fa-skype" aria-hidden="true" title="{% trans 'Skype' %}"></i>
        {{ company.cp2_skype }}{% endif %}
    </td>
</tr>
{% endif %}
{% endif %}
</table>

{% if can_manage %}
<hr>
<a class="btn btn-warning btn-block" href="{% url 'company_manage' company.slug %}">
<small><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  {% trans "Manage company" %}</a>
{% endif %}
{% else %}
<div class="alert alert-info">
{% trans "Only registered users may read additional information about companies." %}
</div>
<p><a class="btn btn-default" href="{% url 'login' %}?next={{ company.get_absolute_url }}">{% trans "Login" %}</a></p>
{% endif %}
