{% load i18n staticfiles %}
<div class="btn-toolbar">
    <a href="{% url 'company_manage_add_equipment' company.slug category.slug %}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {% trans "Add equipment" %}
    </a>
</div>
<br>
{% if equipment %}
<table class="table table-bordered table-striped table-hover">
{% for e in equipment %}
<tr>
    <td><h4>{{ e.get_full_name }}</h4></td>
    <td>
        <div class="btn-group pull-right">
            <a href="{{e.get_absolute_url}}" class="btn btn-link" title="{% trans 'Go to equipment page' %}"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
        </div>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
{% trans "There are no equipment yet in this category." %}
</div>
{% endif %}
<br>
