{% load i18n %}
<div class="list-group">
    <a href="{% url 'company_manage' company.slug %}" class="list-group-item{% if section == 'summary' %} active{% endif %}">{% trans "Summary" %}</a>
    <a href="{% url 'company_manage_description' company.slug %}" class="list-group-item{% if section == 'description' %} active{% endif %}">{% trans "Description" %}</a>
    <a href="{% url 'company_manage_addresses' company.slug %}" class="list-group-item{% if section == 'addresses' %} active{% endif %}">{% trans "Addresses" %}</a>
    <a href="{% url 'company_manage_contacts' company.slug %}" class="list-group-item{% if section == 'contacts' %} active{% endif %}">{% trans "Contacts" %}</a>
    <a href="{% url 'company_manage_staff' company.slug %}" class="list-group-item{% if section == 'staff' %} active{% endif %}">{% trans "Staff" %}</a>
    <a href="{% url 'company_manage_equipment' company.slug %}" class="list-group-item{% if section == 'equipment' %} active{% endif %}">{% trans "Equipment" %}</a>
    {#<a href="#" class="list-group-item">{% trans "Messages" %}</a>#}
</div>
