{% extends "base.html" %}
{% load i18n staticfiles thumbnail crispy_forms_tags %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
<li><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></li>
<li class="active">{% trans "Manage" %}</li>{% endblock %}
{% block content %}


<div class="row">
<div class="col-md-8">
{% crispy form %}
</div>
<div class="col-md-4">
{% include "companies/_side_toolbar.html" with section="contacts" %}
</div>
</div>
{% endblock %}