{% extends "base.html" %}
{% load i18n staticfiles thumbnail crispy_forms_tags %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
<li><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></li>
<li class="active">{% trans "Manage" %}</li>{% endblock %}
{% block content %}


<div class="row">
<div class="col-md-8">

<h3><small>
<a href="{% url 'company_manage_equipment' company.slug %}" class="btn btn-link" title="{% trans 'Back to equipment dashboard' %}">
<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
</a> /
{% if category.parent %}
{% with category.get_ancestors as ancestors %}
{% for a in ancestors %}
<a href="{% url 'company_manage_equipment_category' company.slug a.slug %}">{{ a.name }}</a> / 
{% endfor %}
{% endwith %}
{% endif %}</small>{{ category.name }}</h3>

{% if children %}
{% include "companies/_category_list.html" with categories=children %}
{% else %}
{% include "companies/_equipment_for_category.html" %}
{% endif %}

</div>
<div class="col-md-4">
{% include "companies/_side_toolbar.html" with section="equipment" %}
</div>
</div>
{% endblock %}