{% extends "base.html" %}
{% load i18n staticfiles thumbnail crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Create company" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
<li class="active">{% trans "Create company" %}</li>{% endblock %}

{% block content %}
<h2>{% trans "Create company" %}</h2>

{% crispy form %}

{% endblock %}
