{% extends "base.html" %}
{% load i18n staticfiles thumbnail %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
<li><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></li>
<li class="active">{% trans "Manage" %}</li>{% endblock %}
{% block content %}


<div class="row">
<div class="col-md-8">
<h1 class="page-header" style="margin-top:0;">{{ company.name }}{% if company.verified %} <small><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> verified</small>{% endif %}</h1>

{% if company.logo %}
{% thumbnail company.logo "300x300" format="PNG" as im %}
<div>
<img src="{{ im.url }}">
<a class="btn btn-primary btn-xs pull-right" href="{% url 'company_edit_logo' company.slug %}">{% trans "Change logo" %}</a>
<hr>
</div>
{% endthumbnail %}
{% else %}
<div class="alert alert-info">
{% trans "You didn't upload any company logo yet." %}
<a class="btn btn-primary btn-xs pull-right" href="{% url 'company_edit_logo' company.slug %}">{% trans "Upload logo" %}</a>
</div>
{% endif %}

<table class="table table-bordered table-hover">
<tr><td>{% trans "VAT Number" %}</td><td>{{ company.vat }}</td></tr>
<tr><td>{% trans "Business segments" %}</td>
<td>{{ company.get_categories }}
<a href="{% url 'company_edit_business_segments' company.slug %}" class="pull-right" title="{% trans 'Edit' %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td></tr>
<tr><td>{% trans "Scope of operation" %}</td>
<td>{{ company.get_scope_of_operation }}
<a href="{% url 'company_edit_scope_of_operation' company.slug %}" class="pull-right" title="{% trans 'Edit' %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td></tr>
</table>

<table class="table table-bordered">
<tr>
    <td width="50%">{% trans "Employees" %} 
    <span class="pull-right" style="font-size:32px;">{{ company.employees }}</span></td>
    <td>{% trans "Depots" %} 
    <span class="pull-right" style="font-size:32px;">{{ company.depots }}</span></td>
</tr>
</table>

</div>
<div class="col-md-4">
{% include "companies/_side_toolbar.html" with section="summary" %}
</div>
</div>
{% endblock %}