{% extends "base.html" %}
{% load i18n staticfiles thumbnail %}

{% block title %}{{ company.get_meta_title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ company.get_meta_description }}" />
{% endblock %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
<li class="active">{{ company.name }}</li>{% endblock %}

{% block content %}


<div class="row">
<div class="col-md-7">
<h1 class="page-header" style="margin-top:0;">{{ company.name }}{% if company.verified %} <small><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> verified</small>{% endif %}</h1>
{% thumbnail company.logo "300x300" format="PNG" as im %}
<p><img src="{{ im.url }}"></p>
<hr>
{% endthumbnail %}

<div class="company--description">{{ company.description|safe }}</div>

</div>
<div class="col-md-5">
<table class="table table-hover">
{% with company.get_categories as categories %}
{% if categories %}
<tr>
    <td>{% trans "Categories" %}:</td>
    <td>{{ categories }}</td>
</tr>
{% endif %}{% endwith %}
{% with company.get_scope_of_operation as scopes %}
{% if scopes %}
<tr>
    <td>{% trans "Scope of operation" %}:</td>
    <td>{{ scopes }}</td>
</tr>
{% endif %}{% endwith %}
{% if company.depots > 0 %}
<tr>
    <td>{% trans "Depots" %}:</td>
    <td>{{ company.depots }}</td>
</tr>
{% endif %}
{% if company.employees > 0 %}
<tr>
    <td>{% trans "Employees" %}:</td>
    <td>{{ company.employees }}</td>
</tr>
{% endif %}
</table>

<div id="company-info">
<img src="{% static 'img/loader.gif' %}">
</div>

</div>
</div>

<script type="text/javascript">
$(function () {
    $("#company-info").load("{% url 'company_sidebar' company.slug %}");
});
</script>
{% endblock %}
