{% extends "base.html" %}
{% load i18n staticfiles thumbnail crispy_forms_tags %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
<li><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></li>
<li class="active">{% trans "Manage" %}</li>{% endblock %}
{% block content %}


<div class="row">
<div class="col-md-8">

{% include "companies/_company_roles_for_company.html" %}
<div class="alert alert-warning">
{% trans "This feature is not released yet." %}
</div>

</div>
<div class="col-md-4">
{% include "companies/_side_toolbar.html" with section="staff" %}
</div>
</div>
{% endblock %}