{% extends "base.html" %}
{% load i18n staticfiles thumbnail crispy_forms_tags %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
<li><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></li>
<li class="active">{% trans "Manage" %}</li>{% endblock %}
{% block content %}


<div class="row">
<div class="col-md-8">

<h3 style="margin-top:0;"><small>
<a href="{% url 'company_manage_equipment' company.slug %}" class="btn btn-link" title="{% trans 'Back to equipment dashboard' %}">
<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
</a> /
{% if category.parent %}
{% with category.get_ancestors as ancestors %}
{% for a in ancestors %}
<a href="{% url 'company_manage_equipment_category' company.slug a.slug %}">{{ a.name }}</a> / 
{% endfor %}
{% endwith %}
{% endif %}<a href="{% url 'company_manage_equipment_category' company.slug category.slug %}">{{ category.name }}</a> / </small>{% trans "Add equipment" %}</h3>

{% crispy form %}

<script type="text/javascript">
function request_new_manufacturer() {
    $('#id_manufacturer option:contains("Other")').prop('selected', true);
    $('#div_id_other_manufacturer').show();
    $('#__other-manufacturer-info').show();
    $('#div_id_manufacturer').hide();
    $('#__manufacturer-info').hide();
}
$('#__action--add-manufacturer').click(request_new_manufacturer);

function return_manufacturer() {
    $('#div_id_other_manufacturer').hide();
    $('#__other-manufacturer-info').hide();
    $('#div_id_manufacturer').show();
    $('#__manufacturer-info').show();
}
$('#__action--return-manufacturer').click(return_manufacturer);


$(document).ready(function() {
    $('#div_id_other_manufacturer').hide();
    $('#__other-manufacturer-info').hide();
});
</script>
</div>
<div class="col-md-4">
{% include "companies/_side_toolbar.html" with section="equipment" %}

<div id="map_canvas" style="height:400px;">

</div>
</div>
{% endblock %}