{% extends "base.html" %}
{% load i18n staticfiles thumbnail crispy_forms_tags %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
<li><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></li>
<li class="active">{% trans "Manage" %}</li>{% endblock %}
{% block content %}


<div class="row">
<div class="col-md-8">

{% if used_categories %}
<h3>{% trans "You have equipment in next categories" %}</h3>
<table class="table table-bordered table-hover">
{% for c in used_categories %}
<tr><td>
<a href="{% url 'company_manage_equipment_category' company.slug c.slug %}" class="btn btn-link">{{ c.name }}</a>
</td>
<td style="vertical-align:middle;">{{ c.equipment_amount }}</td>
</tr>
{% endfor %}
</table>
<hr>
{% endif %}

<h3>{% trans "Available categories" %}</h3>
{% include "companies/_category_list.html" with categories=top_categories %}

</div>
<div class="col-md-4">
{% include "companies/_side_toolbar.html" with section="equipment" %}
</div>
</div>
{% endblock %}