{% extends "base.html" %}
{% load i18n staticfiles thumbnail %}

{% block title %}{{ block.super }} - {% trans "Companies" %}{% endblock %}

{% block breadcrumb_path %}{{ block.super }}<li class="active">{% trans "Companies" %}</li>{% endblock %}

{% block content %}
<h1 class="page-header">{% trans "Companies" %}</h1>

{% for company in companies %}
<div class="row">
<div class="col-md-8">
    <h3><a href="{% url 'company_details' company.slug %}">{{ company.name }}</a></h3>
    <div class="company--short-description">{{ company.short_description|safe }}</div>
</div>
<div class="col-md-4">
    {% thumbnail company.logo "300x300" format="PNG" as im %}
    <img src="{{ im.url }}">
    {% endthumbnail %}
</div>
</div>
{% endfor %}

{% if is_paginated %}
    <ul class="pagination pagination-centered">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo;&laquo;</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}

        {% for i in paginator.page_range %}
            <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a></li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}