{% extends "base.html" %}
{% load i18n staticfiles thumbnail crispy_forms_tags %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
<li><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></li>
<li><a href="{% url 'company_manage' company.slug %}">{% trans "Manage" %}</a></li>
<li class="active">{% trans "Change business segments" %}</li>{% endblock %}

{% block content %}
{% crispy form %}
{% endblock %}
