{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_modify %}
{% load static from staticfiles %}

{% block extrahead %}
    {{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{% static 'adminsortable/js/jquery-ui-django-admin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'adminsortable/js/jquery.django-csrf.js' %}"></script>

    <script type="text/javascript" src="{% static 'adminsortable/js/admin.sortable.tabular.inlines.js' %}"></script>

    {% if has_sortable_stacked_inlines %}
        <script type="text/javascript" src="{% static 'adminsortable/js/admin.sortable.stacked.inlines.js' %}"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'vendor/geocomplete/jquery.geocomplete.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/equipment/equipment/extra.js' %}"></script>  
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'adminsortable/css/admin.sortable.inline.css' %}" />
{% endblock %}

{% block after_field_sets %}
{% include "admin/equipment/equipment/map.html" %}
{% endblock %}

{% block after_related_objects %}{{ block.super }}
<input type="hidden" id="localized_save_before_reorder_message" value="{% trans 'There are unsaved changes on this page. Please save your changes before reordering.' %}"/>
{% endblock %}
