{% extends "base.html" %}
{% load i18n staticfiles crispy_forms_tags %}
{% block breadcrumb_path %}{{ block.super }}<li class="active">{% trans "Login" %}</li>{% endblock %}
{% block content %}
<h2>{% trans "Login" %}</h2>

<form class="form-vertical" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

{{ form|crispy }}

<input type="hidden" name="next" value="{{ next }}" />
<button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
<a href="{% url 'password_reset' %}" class="btn btn-link">{% trans "Forgot the password?" %}</a>
</form>
{% endblock %}
