{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ block.super }} - {% trans "Profile" %}{% endblock %}

{% block breadcrumb_path %}{{ block.super }}<li class="active">{% trans "Your profile" %}</li>{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
<a href="{% url 'edit_my_profile' %}" class="btn btn-success">
<span class="glyphicon glyphicon-edit"></span> {% trans "Edit profile" %}</a>

{% if user.can_send_invitations %}
<a href="{% url 'invitation_invite' %}" class="btn btn-default"><span class="glyphicon glyphicon-send"></span> {% trans "Send invite" %}</a>
{% endif %}
</div>

<h1>{{ user.get_full_name }}{% if user.is_verified %} <small><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> verified</small>{% endif %}</h1>
<br>
<dl>
    <dt>{% trans "Email" %}</dt>
    <dd>{{ user.email }}</dd>
    <dt>{% trans "Measurement system" %}</dt>
    <dd>{{ user.get_measurement_system_display }}</dd></dl>
<hr>
<div class="btn-toolbar">
<a href="{% url 'password_change' %}" class="btn btn-default">{% trans "Change your password" %}</a>
</div>

{% with user as cluser %}
{% include "companies/_company_roles_for_cluser.html" %}
{% endwith %}
<div class="btn-toolbar">
<a href="{% url 'company_add' %}" class="btn btn-default">
<span class="glyphicon glyphicon-plus"></span> {% trans "Create company" %}</a>
</div>

{% endblock %}