{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Password reset complete" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}
{{ block.super }}
<li class="active">{% trans "Password reset complete" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Password reset complete" %}</h2>

<p>{% trans "Your password was changed. Now you can login with new password." %}</p>

<p><a href="{% url 'login' %}" class="btn btn-default">{% trans "Login" %}</a></p>
{% endblock %}