{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Password changed successfully" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}
{{ block.super }}
<li><a href="{% url 'my_profile' %}">{% trans "Your profile" %}</a></li>
<li class="active">{% trans "Password changed successfully" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Password changed successfully" %}</h2>

<p>{% trans "Your password was changed." %}</p>
{% endblock %}