{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Password reset" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}
{{ block.super }}
<li class="active">{% trans "Password reset" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Password reset" %}</h2>

<form class="form-vertical" role="form" method="post">
{% csrf_token %}

{{ form|crispy }}

<button class="btn btn-primary" type="submit">{% trans "Reset password" %}</button>
</form>
{% endblock %}