{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Change password" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}
{{ block.super }}
<li><a href="{% url 'my_profile' %}">{% trans "Your profile" %}</a></li>
<li class="active">{% trans "Change password" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Change password" %}</h2>

<form class="form-vertical" role="form" method="post">
{% csrf_token %}

{{ form|crispy }}

<button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
</form>
{% endblock %}