{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Check your email" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}
{{ block.super }}
<li class="active">{% trans "Check your email" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Check your email" %}</h2>

<p>{% trans "Wait a minute and check your email inbox. You should get email with a special link for reset the password. Follow the instructions there." %}</p>
{% endblock %}