{% extends "base.html" %}
{% load i18n staticfiles crispy_forms_tags %}
{% block breadcrumb_path %}{{ block.super }}<li class="active">{% trans "Registration" %}</li>{% endblock %}
{% block content %}
<h2>{% trans "Registration" %}</h2>

{% crispy form %}

{% endblock %}
