{% load i18n %}
{% if user.is_authenticated %}
<li><a href="{% url 'my_profile' %}" rel="nofollow">{% trans "Your profile" %}</a></li>
<li><a href="{% url 'logout' %}" rel="nofollow">{% trans "Logout" %}</a></li>
{% else %}
<li><a href="{% url 'login' %}" rel="nofollow">{% trans "Login" %}</a></li>
{% endif %}