{% load i18n staticfiles %}
<table class="table table-hover">
{% for f in equipment.get_files %}
<tr>
    <td><img src="{% static f.get_icon_name %}"></td>
    <td><a href="{{ f.file.url }}">{{ f.title }}</a></td>
</tr>
{% endfor %}
</table>
