{% load i18n %}
<div class="btn-group btn-group-sm" role="group">
    <a class="__action--choose-metric btn btn-success active">{% trans "Metric" %}</a>
    <a class="__action--choose-imperial btn btn-success">{% trans "Imperial" %}</a>
</div>

<table class="table table-hover table-bordered table-striped">
{% for ev in equipment.property_values.all %}
<tr>
    <td><strong>{{ ev.equipment_property.name }}</strong></td>
    <td>
    {% if ev.is_number %}
        <span class="__modify--property-value" data-original="{{ ev.get_value }}"
        data-metric="{{ ev.get_metric_value }}"
        data-imperial="{{ ev.get_imperial_value }}">{{ ev.get_value }}</span>
    {% else %}
        {{ ev.get_value }}
    {% endif %}
    </td>
</tr>
{% endfor %}
</table>       

{# TODO: it is just an experiment rewrite it as soon as possible #}
{% if user.is_authenticated %}
<script type="text/javascript">
window.measurement_system = "{{ user.measurement_system }}";

function update_property_values() {
    var properties = $('.__modify--property-value');
    for(var i=0; i <= properties.length; i++) {
        if(measurement_system == "metric") {
            $(properties[i]).html($(properties[i]).data("metric"));
        } else {
            $(properties[i]).html($(properties[i]).data("imperial"));
        }
    }
}

function choose_metric() {
    window.measurement_system = 'metric';
    $('.__action--choose-metric').addClass('active');
    $('.__action--choose-imperial').removeClass('active');
    update_property_values();
}

function choose_imperial() {
    window.measurement_system = 'imperial';
    $('.__action--choose-metric').removeClass('active');
    $('.__action--choose-imperial').addClass('active');
    update_property_values();
}

$(document).ready(function() {
    update_property_values();
    $('.__action--choose-metric').click(choose_metric);
    $('.__action--choose-imperial').click(choose_imperial);
});
</script>
{% endif %}
