{% load i18n staticfiles %}
<form class="form-horizontal" name="search-form" method="GET">
<div class="row">
    <div class="col-md-7 col-xs-6">
    <select class="form-control" name="category">
        <option value="all"{% if selected_category == "all" %} selected="selected"{% endif %}>All</option>
        {% for c in categories %}
        <option value="{{ c.slug }}"{% if c.slug == selected_category %} selected="selected"{% endif %}>{{c.get_dash_prefix }} {{ c.name }}</option>
        option
        {% endfor %}
    </select>
    </div>
    <div class="col-md-3 col-xs-4">
    <select class="form-control" name="distance">
        <option value="0"{% if selected_distance == "0" %} selected="selected"{% endif %}>{% trans "Any distance" %}</option>
        <option value="500"{% if selected_distance == "500" %} selected="selected"{% endif %}>500 km</option>
        <option value="1000"{% if selected_distance == "1000" %} selected="selected"{% endif %}>1000 km</option>
        <option value="2000"{% if selected_distance == "2000" %} selected="selected"{% endif %}>2000 km</option>
        <option value="3000"{% if selected_distance == "3000" %} selected="selected"{% endif %}>3000 km</option>
    </select>
    </div>
    <div class="col-md-2 col-xs-2">
    <input type="hidden" name="latitude" value="0" />
    <input type="hidden" name="longitude" value="0" />
    <input type="hidden" name="view" value="{{ view }}" />
    <button type="submit" class="btn btn-warning btn-block">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <span class="hidden-xs">{% trans "Search" %}</span></button>
    </div>
</div>
</form><br>

<div class="row">
<div class="col-xs-8">
{% if equipments %}
<h3 style="margin-top:0;">{% trans "Found equipment" %}: {{ equipments.count }}</h3>
{% else %}
<h3 style="margin-top:0;">{% trans "Nothing found" %}</h3>
{% endif %}
</div>
<div class="col-xs-4">
<div class="pull-right">
    <div class="btn-group btn-group-sm" role="group">
        <a class="__action--set-view __action-link btn btn-success{% if view == 'map' %} active{% endif %}" data-view="map">{% trans "Map" %}</a>
        <a class="__action--set-view __action-link btn btn-success{% if view == 'list' %} active{% endif %}" data-view="list">{% trans "List" %}</a>
    </div>
</div>
</div>
</div>
<br>
<script type="text/javascript">
$(document).ready(function() {
    $('.__action--set-view').click(function() {
        var v = $(this).data('view');
        $('input[name="view"]').val(v);
        $('form[name="search-form"]').submit();
    });
});
</script>
