{% extends "base.html" %}
{% load i18n staticfiles thumbnail mptt_tags %}

{% block title %}{{ category.get_meta_title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ category.get_meta_description }}" />
{% endblock %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="#">{% trans "Equipment categories" %}</a></li>
{% for anc in category.get_ancestors %}
<li><a href="{% url 'category_details' anc.get_path %}">{{ anc.name }}</a></li>
{% endfor %}
<li class="active">{{ category.name }}</li>{% endblock %}

{% block content %}
<h1 class="page-header">{{ category.name }}</h1>

{% for category in children %}
<div class="row">
<div class="col-md-8">
    <h3><a href="{% url 'category_details' category.get_path %}">{{ category.name }}</a></h3>
</div>
<div class="col-md-4">
{% if category.icon %}{% thumbnail category.icon "100x100" format="PNG" as im %}
    <img src="{{ im.url }}">
{% endthumbnail %}{% endif %}
</div>
</div>
{% endfor %}

{% endblock %}