{% extends "base.html" %}
{% load i18n staticfiles thumbnail mptt_tags %}

{% block title %}{{ equipment.get_meta_title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ equipment.get_meta_description }}" />
{% endblock %}

{% block breadcrumb_path %}{{ block.super }}
{#<li><a href="{% url 'manufacturer_list' %}">{% trans "Manufacturers" %}</a></li>#}
{#<li><a href="{{ equipment.manufacturer.get_absolute_url }}">{{ equipment.manufacturer }}</a></li>#}
<li class="active">{{ equipment.get_full_name }}</li>{% endblock %}

{% block content %}
<h1 class="page-header" style="margin-top:0;">{{ equipment.category.name }} {{ equipment.get_full_name }}</h1>

<div class="row">
<div class="col-md-6">
{% if equipment.manufacturer.logo %}{% thumbnail equipment.manufacturer.logo "300x300" format="PNG" as im %}
<p><a href="{{ equipment.manufacturer.get_absolute_url }}"><img src="{{ im.url }}"></a></p>
{% endthumbnail %}{% endif %}

{% with equipment.get_images as images %}
{% if images %}
<h3>{% trans "Gallery" %}</h3>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for image in images %}
    <div class="item{% if forloop.first %} active{% endif %}">
    {% thumbnail image.image "x300" crop="center" as im %}
      <img src="{{ im.url }}" alt="{{ image.title }}">
    {% endthumbnail %}
      <div class="carousel-caption">{{ image.title }}</div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}
{% endwith %}

{% if equipment.description %}
<h3>{% trans "Description" %}</h3>
{{ equipment.description|safe }}
{% endif %}
</div>
<div class="col-md-6">

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab">{% trans "Properties" %}</a></li>
    {% if equipment.has_files %}
    <li role="presentation"><a href="#downloads" aria-controls="downloads" role="tab" data-toggle="tab">{% trans "Downloads" %}</a></li>
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="properties">
        <br>
        {% include "equipment/_properties.html" %}
    </div>
    {% if equipment.has_files %}
    <div role="tabpanel" class="tab-pane" id="downloads">
        <br>
        {% include "equipment/_downloads.html" %}
    </div>
    {% endif %}
  </div>
</div>

<p><a class="btn btn-block btn-info" href="{% url 'search' %}?category={{ equipment.category.slug }}">{% trans "See all equipment for category" %}: {{ equipment.category }}</a></p>

</div>
</div>
{% endblock %}
