{% extends "base.html" %}
{% load i18n staticfiles thumbnail mptt_tags %}

{% block title %}{{ item.get_meta_title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ item.get_meta_description }}" />
{% endblock %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'manufacturer_list' %}">{% trans "Manufacturers" %}</a></li>
<li><a href="{{ item.equipment.manufacturer.get_absolute_url }}">{{ item.equipment.manufacturer }}</a></li>
<li><a href="{{ item.equipment.get_absolute_url }}">{{ item.equipment.get_full_name }}</a></li>
<li class="active">{{ item }}</li>{% endblock %}

{% block content %}
<h1 class="page-header" style="margin-top:0;">{{ item.equipment.category.name }} {{ item.equipment.get_full_name }}<br>{% trans "Equipment of" %} {{ item.owner.name }} (ID: {{item.id}})</h1>
<hr>
<div class="row">
<div class="col-md-6">
{% if item.owner.logo %}{% thumbnail item.owner.logo "300x300" format="PNG" as im %}
<p><a href="{{ equipment.manufacturer.get_absolute_url }}"><img src="{{ im.url }}"></a></p>
{% endthumbnail %}{% endif %}

</div>
<div class="col-md-6">

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab">{% trans "Properties" %}</a></li>
    <li role="presentation"><a href="#downloads" aria-controls="downloads" role="tab" data-toggle="tab">{% trans "Downloads" %}</a></li>
    <li role="presentation"><a href="#video" aria-controls="video" role="tab" data-toggle="tab">{% trans "Video" %}</a></li>
    <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">{% trans "Description" %}</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="properties">
        <table class="table table-hover">
        {% for ev in item.equipment.property_values.all %}
        <tr>
            <td>{{ ev.equipment_property.name }}</td>
            <td>{{ ev.get_value }}</td>
        </tr>
        {% endfor %}
        </table>       
    </div>
    <div role="tabpanel" class="tab-pane" id="downloads">Not implemented yet</div>
    <div role="tabpanel" class="tab-pane" id="video">Not implemented yet</div>
    <div role="tabpanel" class="tab-pane" id="description">{{ item.equipment.description|safe }}</div>
  </div>

</div>

</div>
</div>
{% endblock %}
