{% extends "base.html" %}
{% load i18n staticfiles thumbnail %}

{% block title %}{{ block.super }} - {% trans "Search" %}{% endblock %}

{% block extra_js %}
<script src="{% static 'equipment/equipment-list-view.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% include "equipment/_search_filters.html" with view=view %}

{% for e in equipments %}
<div class="row">
<div class="col-md-12">
    <h4><a href="{{e.get_absolute_url}}">{{ e.get_full_name }}</a>
    <small><a href="{{e.owner.get_absolute_url}}">{{ e.owner }}</a></small></h4>
    <p>{% trans "Distance" %}: {{ e.distance.km|floatformat:"0" }} {% trans "km" %}</p>
</div>
</div>
{% endfor %}

<script type="text/javascript">
$(function () {
    load_list();
});
</script>
{% endblock %}