{% extends "base.html" %}
{% load i18n staticfiles thumbnail %}

{% block title %}{{ block.super }} - {% trans "Manufacturers" %}{% endblock %}

{% block breadcrumb_path %}{{ block.super }}<li class="active">{% trans "Manufacturers" %}</li>{% endblock %}

{% block content %}
<h1 class="page-header">{% trans "Manufacturers" %}</h1>

{% for manufacturer in manufacturers %}
<div class="row">
<div class="col-md-8">
    <h3><a href="{% url 'manufacturer_details' manufacturer.slug %}">{{ manufacturer.name }}</a></h3>
</div>
<div class="col-md-4">
{% if manufacturer.logo %}{% thumbnail manufacturer.logo "300x300" format="PNG" as im %}
    <img src="{{ im.url }}">
{% endthumbnail %}{% endif %}
</div>
</div>
{% endfor %}

{% if is_paginated %}
    <ul class="pagination pagination-centered">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo;&laquo;</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}

        {% for i in paginator.page_range %}
            <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a></li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}