{% extends "base.html" %}
{% load i18n staticfiles thumbnail mptt_tags %}

{% block title %}{{ manufacturer.get_meta_title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ manufacturer.get_meta_description }}" />
{% endblock %}

{% block breadcrumb_path %}{{ block.super }}
<li><a href="{% url 'manufacturer_list' %}">{% trans "Manufacturers" %}</a></li>
<li class="active">{{ manufacturer.name }}</li>{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
<h1 class="page-header" style="margin-top:0;">{{ manufacturer.name }}</h1>
{% if manufacturer.logo %}{% thumbnail manufacturer.logo "300x300" format="PNG" as im %}
<p><img src="{{ im.url }}"></p>
{% endthumbnail %}{% endif %}

{% with manufacturer.get_equipment as equipment %}
{% regroup equipment by category as equipment_category_list %}

<table class="table table-hover table-bordered table-striped">
{% for ec in equipment_category_list %}
<tr><td><strong>{{ ec.grouper.get_ancestors|tree_path:" / " }} / {{ ec.grouper }}</strong></td></tr>
{% for e in ec.list %}
<tr><td><a href="{{ e.get_absolute_url }}">{{ e.get_full_name }}</a></td></tr>
{% endfor %}
{% endfor %}
</table>
{% endwith %}
</div>
</div>
{% endblock %}
