{% extends "base.html" %}
{% load i18n staticfiles thumbnail %}

{% block title %}{{ block.super }} - {% trans "Search" %}{% endblock %}

{% block extra_js %}
<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=places" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'equipment/equipment-map-view.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block breadcrumbs %}{% endblock %}

{% block content %}
{% include "equipment/_search_filters.html" with view=view %}

<div class="row">
<div class="col-md-12">
<div id="map_canvas" style="height:500px"></div>
</div>
</div>

<script type="text/javascript">
$(function () {
    load_map();

    window.markers = [];
    window.infowindows = [];
    var t, i;
    
    {% for i in equipments %}
    i = window.markers.push(new google.maps.Marker({
        position: new google.maps.LatLng({{i.latitude}}, {{i.longitude}}),
        map: map_eq,
        title: "{{i}}"
    }));
    window.infowindows.push(new google.maps.InfoWindow({
        content: "<h5><a href='{{i.get_absolute_url}}'>{{i.get_full_name}}</a>"+
            " <small><a href='{{i.owner.get_absolute_url}}'>{{i.owner}}</a></small></h5>"+
            "<p><a href='{{i.get_absolute_url}}'>Go to equipment page</a></p>",
        maxWidth: 300
    }));
    google.maps.event.addListener(window.markers[i-1], 'click', function(_i) {
        return function() {
            window.infowindows[_i-1].open(map_eq, window.markers[_i-1]);
        }}(i));
    {% endfor %}
});
</script>
{% endblock %}