{% load staticfiles i18n %}{% get_current_language as LANGUAGE_CODE %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>{% block title %}{% trans "Crane Locator" %}{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    {% block meta %}{% endblock %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/notifyjs/notify-combined.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
    {% block head_tail %}{% endblock %}
  </head>
  <body>
    <div class="page-wrap">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% trans "Crane Locator" %}{% comment %}<img src="{% static 'img/logo_64.png' %}"/>{% endcomment %}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'company_list' %}">{% trans "Companies" %}</a></li>
            <li><a href="{% url 'search' %}">{% trans "Equipment" %}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right __slot--user-bar">
            <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
          </ul>
        </div>
      </div>
    </div>

    {% if messages %}
    <script type="text/javascript">
    {% for message in messages %}
      $.notify("{{ message }}"{% if message.tags %}, "{{ message.tags }}"{% endif %});
    {% endfor %}
    </script>
    {% endif %}

    {% block full_content %}
    <div class="container main-content">
    {% block breadcrumbs %}
    <ol class="breadcrumb"><li><a href="/">{% trans "Home" %}</a></li>{% block breadcrumb_path %}{% endblock %}</ol>
    {% endblock %}
    {% block content %}{% endblock content %}
    </div>
    {% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <p>Lorem ipsum dolor sit amet...</p>
      </div>
      <div class="footer__bottom-part"><div class="container">
        <span class="pull-right"><a href="mailto:inbox@crane-locator.com">inbox@crane-locator.com</a></span>
        <p>Copyright &copy; 2015 Crane Locator. All rights reserved.</p>
      </div></div>
    </footer>

    {% include "accounts/_load_user_toolbar.html" %}
  </body>
</html>
