{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {% trans "Invitation registered" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}
{{ block.super }}
<li class="active">{% trans "Invitation registered" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Invitation registered" %}</h2>

<p>{% trans "You just registered a new user via the invitation. Now you can login." %}</p>

<p><a href="{% url 'login' %}" class="btn btn-default">{% trans "Login" %}</a></p>
{% endblock %}