{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {% trans "Invitation complete" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}
{{ block.super }}
<li><a href="{% url 'my_profile' %}">{% trans "Your profile" %}</a></li>
<li class="active">{% trans "Invitation complete" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Invitation complete" %}</h2>

<p>{% trans "The invitation email was sent to the specified address." %}</p>

<p><a href="{% url 'cluser_details' user.pk %}" class="btn btn-default">{% trans "Back to profile" %}</a></p>
{% endblock %}