{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Invite user" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumb_path %}
{{ block.super }}
<li><a href="{% url 'my_profile' %}">{% trans "Your profile" %}</a></li>
<li class="active">{% trans "Invite user" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Invite user" %}</h2>

{% crispy form %}
{% endblock %}